.chkn {
    padding: 0px;
    margin: 0px;
    line-height: none;
    font-size: 1px;
}
body {
    padding-top: 50px;
    padding-bottom: 20px;
}
.body-help
{
    padding: 10px;
}
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}
input[type=number] {
    -moz-appearance: textfield;
}

.lib {
    list-style: none;
    font-size: 0.5em;
}

.licl {
    margin-top: 10px;
}
.lic {
    list-style: none;
    margin: 0px;
    padding: 0px;
}
.lic > li {
    float: left;
    margin-right: 10px;    
}
.lic:after {
    content: '';
    display: block;
    clear: both;
}

.btn-t {
  display: inline-block;
  padding: 0px 10px;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 14px;
  font-weight: normal;
  /* line-height: 1.428571429; */
  text-align: center;
  white-space: nowrap;
  /* vertical-align: middle; */
  cursor: pointer;
  border: 1px solid transparent;
  /*border-radius: 4px;*/
/*
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
       -o-user-select: none;
          user-select: none;
*/
}

.btn-def-t {
  color: #333333;
  background-color: #ffffff;
  border-color: #cccccc;
}

.btn-def-t:hover,
.btn-def-t:focus,
.btn-def-t:active,
.btn-def-t.active
{
  color: #333333;
  background-color: #ebebeb;
  border-color: #adadad;
}

.btn-def-t:active,
.btn-def-t.active
{
  background-image: none;
}

.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
  background-color: #ffffff;
  border-color: #cccccc;
}

/* colors */

.bg-x {
    background: none;
}
.bg-rbk {
    background: #F8CBAD;
}
.bg-rbke {
    background: #FFE699;
}
.bg-rbkd {
    background: #CCCCFF;
}

.bg-note {
    background: #FFFFD0;
}
.bg-yel {
    background: #FFFFD0;
}

.bg-test {
    background: #C0C0FF;
}
.bg-test1 {
    background: #E0E0FF;
}
.bg-test2 {
    background: #D0D0FF;
}
.bg-test0 {
    background: #C0C0FF;
}

.bg-sh-bala-1 {
    background: none;
}
.bg-sh-bala-0 {
    background: #FABF8F;
}
.bg-sh-balb-1 {
    background: #92D050;
}
.bg-sh-balb-0 {
    background: #FF0000;
}

.chk {
    padding: 1px 2px;
    /* max-width: none; */
}
.bg-A {
    background: #FFFFFF;
}
.bg-O {
    background: #92D050;
}
.bg-N {
    background: #C0C0C0;
}
.bg-W {
    background: #FABF8F;
}
.bg-E {
    background: #FF0000;
    color: #FFFFFF;
}
.bg-tdh {
    color: #0000FF;
    background: #C0C0C0;
}

.num-tc {
    color: #FF0000;
}
.new-tc {
    color: #0000FF;
}
.diff-tc {
    color: #FF0000;
}
.shop-tc {
    color: #009000;
}
.g-tc {
    color: #909090;
}
.tr-new-id:hover {
    /*background: #D0D0FF;*/
    background: #FFFFD0;
}

/* added */

.txt {
    max-width: none;
}

.b {
    font-weight: bold;
}
.bb {
    font-weight: bold;
    font-size: larger;
}
.h2 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
    color: black;
}
.tbl {
    /* border-collapse: separate; */
    border-collapse: collapse;
    border-color: #C0C0C0;
    border: none;
    /* font-family: 'Times New Roman', Times, serif; */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 8.5px;
}
.trh {
    border-color: #C0C0C0;
    /* color: blue; */
    color: #0000FF;
    background: #C0C0C0;
}
.tdh {
    border-color: #C0C0C0;
    border: none;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 5px;
    padding-right: 5px;
    vertical-align: bottom;
}
.tdh-c {
    border-color: #C0C0C0;
    border: none;
    background: #FFFFFF;
}
.tdh-c-note {
    border-color: #C0C0C0;
    border: none;
    background: #FFFFD0;
}
.tr {
    border-color: #C0C0C0;
    color: black;
}
.td {
    border-color: #C0C0C0;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 5px;
    padding-right: 5px;
    vertical-align: top;
}
.td-diff-k {
    border: 2px solid #009000;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 5px;
    padding-right: 5px;
    vertical-align: top;
}
.diff-k {
    border: 2px solid #009000;
}
.diff-e {
    border: 2px solid #FF0000;
}
.diff-w {
    border: 2px solid #FFC000;
}
.td-diff-c {
    border: 2px solid #FF0000;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 5px;
    padding-right: 5px;
    vertical-align: top;
}
.diff-c {
    border: 2px solid #FF0000;
}
.trhe {
    border-color: #C0C0C0;
    border: none;
    font-size: 9px;
    /* color: red; */
    color: #000000;
}
.tdhe {
    border-color: #C0C0C0;
    border: none;
}
.trt {
    border-color: #C0C0C0;
    border: none;
    color: red;
}
.tdt {
    border-color: #C0C0C0;
    border: none;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 5px;
    padding-right: 5px;
}
.trb {
    border-color: #C0C0C0;
    border: none;
}
.tdb {
    border-color: #C0C0C0;
    border: none;
}
.tdbb {
    border-color: #C0C0C0;
}
.tdbw {
    border-color: #C0C0C0;
    border: none;
    background: #FFFFFF;
}
.tdi {
    border-color: #C0C0C0;
    border: none;
    background: #FFFFFF;
}
.tdi-note {
    border-color: #C0C0C0;
    border: none;
    background: #FFFFD0;
}
.td-e {
    border-color: #C0C0C0;
    border: none;
    vertical-align: top;
    padding-right: 5px;
}
.td-x {
    border-color: #C0C0C0;
    border: none;
    vertical-align: top;
    padding-right: 5px;
}
.td-c {
    border-color: #C0C0C0;
    border: none;
    vertical-align: top;
    padding-right: 5px;
}
.sp-c {
    vertical-align: top;
    padding-right: 5px;
}
.td-cn {
    border-color: #C0C0C0;
    border: none;
    vertical-align: top;
    padding-right: 5px;
    min-width: 30px;
}

.clip1 {
    /* overflow: hidden; */
    position: relative;
    /* background: red; */
}

.tbl-sel {
    border-collapse: collapse;
    border-color: #C0C0C0;
    border: none;
}
.tbl-sel-nc {
    border-collapse: separate;
    border-color: #C0C0C0;
    border: none;
}

.td-lbl {
    border-color: #C0C0C0;
    border: none;
    padding-top: 2px;
    padding-bottom: 2px;
    /* padding-left: 5px; */
    padding-right: 5px;
    color: inherit;
    border-color: inherit;
}
.td-sel {
    border-color: #C0C0C0;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 5px;
    padding-right: 5px;
    cursor: default;
}
.td-selw {
    border-color: #C0C0C0;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    /* cursor: default; */
}
.td-selwn {
    border-color: #C0C0C0;
    border: none;
    padding-left: 0px;
    padding-right: 0px;
    /* cursor: default; */
}
.td-chk {
    border-color: #C0C0C0;
    /*
    padding-left: 5px;
    padding-right: 5px;
    */
    text-align: center;
    min-width: 25px;
    cursor: default;
}
.td-but {
    border-color: #C0C0C0;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 5px;
    padding-right: 5px;
    cursor: default;
}

.tr-dis {
    color: #C0C0C0;
    border-color: #C0C0C0;
}

.td-tab0 {
    border-color: #C0C0C0;
    border: none;
    /* padding-left: 5px; */
    /* padding-right: 5px; */
    min-width: 5px;
}
.td-tabu {
    border-style: solid;
    border-width: 1px;
    border-top-color: #C0C0C0;
    border-left-color: #C0C0C0;
    border-right-color: #C0C0C0;
    border-bottom-color: white;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 5px;
    padding-right: 5px;
    cursor: default;
}
.td-tabu:hover {
    background: #E0E0E0;
}
.td-tabs {
    border-style: solid;
    border-width: 1px;
    border-top-color: #000000;
    border-left-color: #000000;
    border-right-color: #000000;
    border-bottom-color: white;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 5px;
    padding-right: 5px;
    cursor: default;
    background: #FFFFC0;
}
.td-tabs:hover {
    background: #DFDFA0;
}

.z5 {
    z-index: 5;
}
.z10 {
    z-index: 10;
}
.z20 {
    z-index: 20;
}
.z29 {
    z-index: 29;
}
.z30 {
    z-index: 30;
}
.z39 {
    z-index: 39;
}
.z40 {
    z-index: 40;
}

/*
.trsel1 {
    background: #FFFFC0;
}
.trsel0:hover {
    background: #E0E0E0;
}
.trsel1:hover {
    background: #DFDFA0;
}
*/

.tblin1 {
    width: 0px;
}
.tblin2 {
    width: 10px;
}
.tblin3 {
    width: 20px;
}
.tblin4 {
    width: 30px;
}
.tbline {
    width: 200px;
}
.in1 {
    padding-left: 0px;
}
.in2 {
    padding-left: 10px;
}
.in3 {
    padding-left: 20px;
}
.in4 {
    padding-left: 30px;
}
.mw10 {
    min-width: 10px;
}
.mw20 {
    min-width: 20px;
}
.mw30 {
    min-width: 30px;
}
.mw60 {
    min-width: 60px;
}
.mw70 {
    min-width: 70px;
}
.mw80 {
    min-width: 80px;
}
.mw100 {
    min-width: 100px;
}
.mw150 {
    min-width: 150px;
}
.mw200 {
    min-width: 200px;
}
.mw300 {
    min-width: 300px;
}
.mw400 {
    min-width: 400px;
}

.mxw100 {
    max-width: 100px;
}
.mxw200 {
    max-width: 200px;
}

.ht5 {
    height: 5px;
}
.ht10 {
    height: 10px;
}
.ht20 {
    height: 20px;
}
.y {
    background-color: #F0F000;
}
.dhid {
    display: none;
}
.dvis {
}

.nav-drop-container {
    display: block;
    margin-top: 4px;
}

.nav-drop-container:before,
.nav-drop-container:after {
  display: table;
  content: " ";
}

.nav-drop-container:after {
  clear: both;
}

.nav-drop {
    list-style: none;
    float: left;
    margin: 0px;
    padding: 0px;
}

.nav-drop > li {
  float: left;
  margin-right: 10px;
}

.sel_nc:disabled {
    /* color: black; */ /* not working in IE */
    background: white;
}
.btn {
    /* color: red; */
    padding: 3px 6px;
}
.loading {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 100px;
    width: 100px;
    margin-left: -50px;
    margin-top: -50px;
    background: url(../img/loading.gif) no-repeat center;
    display: block;
}
.loadinga {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 100px;
    width: 100px;
    background: url(../img/loading.gif) no-repeat center;
    display: none;
}

.pt5 {
    padding-top: 5px;
}
.pt10 {
    padding-top: 10px;
}
.pb5 {
    padding-bottom: 5px;
}
.pb10 {
    padding-bottom: 10px;
}
.pl5 {
    padding-left: 5px;
}
.pl10 {
    padding-left: 10px;
}
.pr5 {
    padding-right: 5px;
}
.pr10 {
    padding-right: 10px;
}

.fs10 {
    font-size: 10px;
}
.fs12 {
    font-size: 12px;
}

.b-l {
    vertical-align: bottom;
    text-align: left;
}
.b-c {
    vertical-align: bottom;
    text-align: center;
}
.b-r {
    vertical-align: bottom;
    text-align: right;
}

.m-l {
    vertical-align: middle;
    text-align: left;
}
.m-c {
    vertical-align: middle;
    text-align: center;
}
.m-r {
    vertical-align: middle;
    text-align: right;
}

.t-l {
    vertical-align: top;
    text-align: left;
}
.t-c {
    vertical-align: top;
    text-align: center;
}
.t-r {
    vertical-align: top;
    text-align: right;
}

.b2-l {
    border-left: 2px solid;
}
.b2-r {
    border-right: 2px solid;
}
.b2-lr {
    border-left: 2px solid;
    border-right: 2px solid;
}
.b2-t {
    border-top: 2px solid;
}
.b2-b {
    border-bottom: 2px solid;
}
.b2-tb {
    border-top: 2px solid;
    border-bottom: 2px solid;
}
.b2-tlr {
    border-top: 2px solid;
    border-left: 2px solid;
    border-right: 2px solid;
}
.b2-blr {
    border-bottom: 2px solid;
    border-left: 2px solid;
    border-right: 2px solid;
}
.b2-tblr {
    border-top: 2px solid;
    border-bottom: 2px solid;
    border-left: 2px solid;
    border-right: 2px solid;
}

div.ui-datepicker {
    font-size: 10px;
	width: 18em;
    /*
	width: 17em;
	padding: .2em .2em 0;
	display: none;
    */
}
div.ui-datepicker select.ui-datepicker-month {
	width: 50%;
}
div.ui-datepicker select.ui-datepicker-year {
	width: 40%;
}
div.ui-datepicker .ui-datepicker-title {
	/* margin: 0 2.3em; */
	margin: 0 1.5em;
	line-height: 1.8em;
	text-align: center;
}
.ui-datepicker-trigger {
    background-image: url('../img/drop.png');
    background-repeat: no-repeat;
}
.ui-datepicker-trigger:hover {
    background-image: url('../img/drop_s.png');
    background-repeat: no-repeat;
}
.ui-datepicker-trigger:active {
    background-image: url('../img/drop_d.png');
    background-repeat: no-repeat;
}
.but-drop-m .ui-datepicker-trigger {
    margin-left: 10px;
}
.date-w {
    width: 6.5em;
}

.drop {
    background-image: url('../img/drop.png');
    background-repeat: no-repeat;
}
.drop:hover {
    background-image: url('../img/drop_s.png');
}
.drop:active {
    background-image: url('../img/drop_d.png');
}

.clr {
    background-image: url('../img/clr.png');
    background-repeat: no-repeat;
}
.clr:hover {
    background-image: url('../img/clr_s.png');
}
.clr:active {
    background-image: url('../img/clr_d.png');
}
.but-clr-m .clr {
    margin-left: 10px;
}

.cm-div {
    position: absolute;
    display: none;
    left: 100px;
    top: 100px;
    width: 100px;
    height: 100px;
    /* background: #C0C0C0; */
}
.cm-tbl {
    background: #FFFFFF;
}
.cm-tr {
    background: #FFFFFF;
}
.cm-td {
    font-weight: bold;
}
.cm-mw {
    max-width: 230px;
}
.note-mw {
    max-width: 210px;
}
.nmw {
    max-width: none;
}
.ed-div {
    position: absolute;
    display: none;
    left: 100px;
    top: 100px;
    width: 350px;
    height: 80px;
    background: #FFFFFF;
    border: 2px solid #000000;
}
.close-div {
    position: absolute;
    display: none;
    left: 0px;
    top: 0px;
    width: 16px;
    height: 15px;
    background: #FFFFFF;
    /* border: 1px solid #000000; */
    padding: 0px;
    margin: 0px;
    /* vertical-align: top; */
    line-height: none;
    font-size: 1px;
}
.close-img {
    padding: 0px;
    margin: 0px;
    width: 14px;
    height: 13px;
    /* vertical-align: top; */
    line-height: none;
    font-size: 1px;
}
.wsnw, .nw {
    white-space: nowrap;
}
.ed-tbl {
    background: #FFFFFF;
}
.ed-tr {
    background: #FFFFFF;
}
.ed-td {
    font-weight: bold;
}
.cur-div {
    position: absolute;
    display: none;
    left: 100px;
    top: 100px;
    width: 100px;
    height: 50px;
    background: none;
    border: 3px solid #B0B0B0;
    pointer-events: none;
}

.td-ed {
    background: #E0E0FF
}

.app-sel {
    /* color: #999999; */
    /* background: #222222; */
    color: #199FDB;
    background: #00467F;
    border: none;
    font-size: 16px;
    padding: 0px;
    margin: 0px;
}
.app-sel:hover,
.app-sel:focus,
.app-sel:active,
.app-sel::selection {
    /* color: #FFFFFF; */
    color: #9DA6AB;
}

.db-div {
    position: absolute;
    left: 0px;
    top: 200px;
    width: 200px;
    height: 200px;
    background: #FFFFC0;
    border: 2px solid #000000;
}

.err-div {
    position: absolute;
    display: none;
    left: 100px;
    top: 100px;
    width: 600px;
    height: 400px;
    background: #FFFFC0;
    border: 2px solid #000000;
}

.ttm {
    background-image: url('../img/ttm.png');
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: top;
}

.tt-divT {
    width: 0px;
    height: 0px;
}
.tt-span {
    text-align: center;
    vertical-align: middle;
    /* color: red; */
}
.tts-divW {
    /*
    width: 0px;
    height: 0px;
    */
    cursor: default;
    padding: 0px;
    /* border: 1px solid red; */
}
.tts-divT {
    width: 0px;
    height: 0px;
    /* border: 1px solid green; */
}
.tts-span {
    text-align: center;
    vertical-align: middle;
    color: red;
    font-size: 1px;
    /* font-size: larger; */
    /* font-size: 16px; */
}
.tt-div {
    position: absolute;
    display: none;
    left: 100px;
    top: 100px;
    width: 100px;
    height: 20px;
    background: #FFFFC0;
    border: 2px solid #000000;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 8.5px;
    text-align: center;
    vertical-align: middle;
    /* padding: 2px; */
}
.ttg-div {
    position: absolute;
    display: none;
    left: 0px;
    top: 0px;
    width: 0px;
    height: 0px;
    background: none;
}
.sf-div {
    position: absolute;
    display: none;
    left: 120px;
    top: 100px;
    width: 100px;
    height: 100px;
    background: none;
    /* border: 1px solid #000000; */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 8.5px;
    pointer-events: none;
    opacity: 0.4;
}

.err {
    color: #FF0000;
}
.compl {
    color: #008000;
}
.enter {
    font-style: italic;
    color: #FF0000;
}

.pm {
    display: none;
    color: #FF0000;
    font-family: monospace;
    font-weight: bold;
    margin-right: 1em;
}
.bn {
    border: none;
}

.pad-tb-5 {
    padding-top: 5px;
    padding-bottom: 5px;
}
.pad-tb-10 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.c-p {
    cursor: pointer;
}
.c-d {
    cursor: default;
}

.nmap {
    color: red;
}

.b-b b {
    color: #0000FF;
}

.a {
    cursor: pointer;
}
.ad {
    color: #C0C0C0;
    cursor: pointer;
}
.ad:hover {
    color: #C0C0C0;
}

.db {
    border: 1px solid #707070;
}

.trsel1 {
    background: #FFFFC0;
}
.trsel0:hover {
    background: #E0E0E0;
}
.trsel1:hover {
    background: #DFDFA0;
}
.trselG {
    background: #E0E0E0;
}
.trselY {
    background: #FFFFC0;
}

.bd {
    border: 1px solid #000000;
}
.sc-h-it {
    /* width: 100%; */
    height: 280px;
    overflow: scroll;
}
.sc-h-ib {
    /* width: 100%; */
    height: 280px;
    overflow: scroll;
}
.sc-r-nt {
    /* width: 100%; */
    height: 205px;
    overflow: scroll;
}
.sc-si-id {
    /* width: 100%; */
    height: 100%;
    overflow: scroll;
}
.sc-ri-id {
    /* width: 100%; */
    height: 100%;
    overflow: scroll;
}
.sc-err {
    /* width: 100%; */
    height: 100%;
    overflow: scroll;
}

.sc-co-srs-he {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100px;
    height: 100px;
    border-top: inherit;
    /* border: 1px solid #000000; */
    overflow-x: hidden;
    overflow-y: scroll;
    border-bottom: none;
}
.sc-co-srs-de {
    overflow: scroll;
}

.sc-co-sro-he {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100px;
    height: 100px;
    border-top: inherit;
    /* border: 1px solid #000000; */
    overflow-x: hidden;
    overflow-y: scroll;
    border-bottom: none;
}
.sc-co-sro-de {
    overflow: scroll;
}

.sc-co-srod-he {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100px;
    height: 100px;
    border: 1px solid #000000;
    overflow-x: hidden;
    overflow-y: scroll;
    border-bottom: none;
}
.sc-co-srod-de {
    width: 100%;
    height: 400px;
    overflow: scroll;
    border: 1px solid #000000;
}

.sc-co-srop-he {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100px;
    height: 100px;
    border: 1px solid #000000;
    overflow-x: hidden;
    overflow-y: scroll;
    border-bottom: none;
}
.sc-co-srop-de {
    width: 100%;
    height: 150px;
    overflow: scroll;
    border: 1px solid #000000;
}

.mt5 {
    margin-top: 5px;
}
.mt10 {
    margin-top: 10px;
}
.ml5 {
    margin-left: 5px;
}
.ml10 {
    margin-left: 10px;
}

label {
    margin-bottom: 0px;
}

.ed {
    line-height: 2em;
}
input {
    line-height: normal;
}
input::-ms-clear {
    display: none;
}
input[type='checkbox'] {
    margin: 0px;
    padding: 0px;
    line-height: none;
    font-size: 1px;
}

.navbar-name {
    position: relative;
    display: block;
    line-height: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    /* color: #999999; */
    color: #199FDB;
}
.navbar-name:hover,
.navbar-name:focus {
    /* color: #FFFFFF; */
    color: #9DA6AB;
}
.navbar-tt {
    position: relative;
    display: block;
    line-height: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    color: #999999;
}
.navbar-tt.tt0 {
    color: #999999;
}
.navbar-tt.tt1 {
    color: #FFFF00;
}

.navbar-brand.tt0,
.navbar-brand.tt0:focus,
.navbar-brand.tt0:active,
.navbar-brand.tt0:hover {
    /* color: #999999; */
    color: #199FDB;
}
.navbar-brand.tt1,
.navbar-brand.tt1:focus,
.navbar-brand.tt1:active,
.navbar-brand.tt1:hover {
    /* color: #FFFF00; */
    color: #9DA6AB;
}

/*
.nav li > a {
    margin: 0px;
    padding: 0px;
    margin-right: 10px;
}

.container {
    margin: 0px;
    padding: 0px;
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 10px;
}

.navbar-nav {
    margin: 0px;
    padding: 0px;
}

.navbar-collapse {
    margin: 0px;
    padding: 0px;
}

.navbar-right {
    margin: 0px;
    padding: 0px;
}

.navbar-text {
    margin: 0px;
    padding: 0px;
}
*/

.serv-h {
    /* font-size: 18px; */
    font-size: 16px;
}
.serv-s {
    font-size: 24px;
    padding: 10px;
    background: #FFFFD0;
    cursor: default;
    max-width: 200px;
}
.serv-d {
    font-size: 12px;
    border: none;
    max-width: 200px;
}
.serv-ft {
    font-size: 12px;
    border: none;
    max-width: 400px;
}
.serv-1 {
    /*
    color: #000000;
    color: #9DA2A9;
    */
    color: #199FDB;
    background: #13487C;
    border: 2px solid #000000;
    cursor: default;
}

.serv-1:hover {
    /* background: #D0D0FF; */
    /*
    color: #9DA2A9;
    background: #13487C;
    color: #FF0000;
    */
    color: #9DA6AB;
    background: #13487C;
}
.serv-0 {
    /* color: #C0C0C0; */
    color: #199FDB;
    /* border: 1px solid #C0C0C0; */
    border: 2px solid #000000;
    cursor: not-allowed;
    background: #13487C;
}
.serv-hs {
    border: none;
    min-width: 20px;
}
.serv-vs {
    border: none;
}

.vish {
    visibility: hidden;
}

.head {
    background: #00467F;
    color: #199FDB;
}

.head-txt {
    color: #199FDB;
}

.navbar-inverse .navbar-nav > li > a {
    color: #199FDB;
    font-family: futura-pt, sans-serif;
    font-weight: 300;
    /* letter-spacing: 3px; */
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    /* font-family: 'Times New Roman', Times, serif; */
}

.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
    color: #9DA6AB;
}
